
<p>恒@艳的博客</p>
			<p id="pp">一起从日出到日落</p>
			
			s
			<nav class="navbar navbar-brand navbar-static-top">
		  <div class="container">
		    
		    	<img src="../images/u=1895116084,4238718864&fm=26&gp=0.jpg">
		    	<li><a href="/">首页</a></li>
		    	<li><a href="/rizhi">日志</a></li>
		    	<li><a href="/xiangche">相册</a></li>
		    	<li><a href="/liuyan">留言板</a></li>
		    	<li><a href="/denglu">登录</a></li>
		    	<li><a href="/register">注册</a></li>
		  </div>
		</nav>
		