<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title><%= shouye %></title>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css"/>
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css"/>
	<link rel="stylesheet" href="stylesheets/shouye.css" type="text/css">
</head>
<body>
			
			<%- include('header.ejs') %>
		<div id="con">
			<div id="con1">
				<p>嘿嘿</p>
				<img src="../images/u=1895116084,4238718864&fm=26&gp=0.jpg">
				<div >
					<p>这是我</p>
					<p>来玩吧</p>
					<p>一起做朋友</p>
					<p>欢迎您</p>
					<p>欢迎点评</p>
					<p>这是我</p>
				</div>
			</div>
			<div id="con2">
				<li>
					<p>追忆人生</p>
					从毕业开始到现在，我每到有疑问的时候，都会记下来，找时间去解决它，然后会总结经验，写到博客里。总结写博客有个好处，就是能把经验教训进行一次完整总结，而为了博文内容是正确的，我会查阅很多资料去归纳总结，这样总会有点成长。

还有一点是，学习东西必须有结论，不能看了很多东西，却没有一个定论，这样的话，下次你想起，你依旧不知道关键点在哪。所以，无论结论是对还是错，学了就做属于自己的总结，即便是错，也错得明白。
					<p><input type="button" value="" /></p>
				</li>
				<li>
					<p>追忆人生</p>
					从毕业开始到现在，我每到有疑问的时候，都会记下来，找时间去解决它，然后会总结经验，写到博客里。总结写博客有个好处，就是能把经验教训进行一次完整总结，而为了博文内容是正确的，我会查阅很多资料去归纳总结，这样总会有点成长。

还有一点是，学习东西必须有结论，不能看了很多东西，却没有一个定论，这样的话，下次你想起，你依旧不知道关键点在哪。所以，无论结论是对还是错，学了就做属于自己的总结，即便是错，也错得明白。
					<p><input type="button" value="收藏" /></p>
				</li>
				<li>
					<p>追忆人生</p>
					从毕业开始到现在，我每到有疑问的时候，都会记下来，找时间去解决它，然后会总结经验，写到博客里。总结写博客有个好处，就是能把经验教训进行一次完整总结，而为了博文内容是正确的，我会查阅很多资料去归纳总结，这样总会有点成长。

还有一点是，学习东西必须有结论，不能看了很多东西，却没有一个定论，这样的话，下次你想起，你依旧不知道关键点在哪。所以，无论结论是对还是错，学了就做属于自己的总结，即便是错，也错得明白。
					<p><input type="button" value="收藏" /></p>
				</li>
				<li>
					<p>追忆人生</p>
					从毕业开始到现在，我每到有疑问的时候，都会记下来，找时间去解决它，然后会总结经验，写到博客里。总结写博客有个好处，就是能把经验教训进行一次完整总结，而为了博文内容是正确的，我会查阅很多资料去归纳总结，这样总会有点成长。

还有一点是，学习东西必须有结论，不能看了很多东西，却没有一个定论，这样的话，下次你想起，你依旧不知道关键点在哪。所以，无论结论是对还是错，学了就做属于自己的总结，即便是错，也错得明白。
					<p><input type="button" value="收藏" /></p>
				</li>
				<li>
					<p>追忆人生</p>
					从毕业开始到现在，我每到有疑问的时候，都会记下来，找时间去解决它，然后会总结经验，写到博客里。总结写博客有个好处，就是能把经验教训进行一次完整总结，而为了博文内容是正确的，我会查阅很多资料去归纳总结，这样总会有点成长。

还有一点是，学习东西必须有结论，不能看了很多东西，却没有一个定论，这样的话，下次你想起，你依旧不知道关键点在哪。所以，无论结论是对还是错，学了就做属于自己的总结，即便是错，也错得明白。
					<p><input type="button" value="收藏" /></p>
				</li>
				<li>
					<p>追忆人生</p>
					从毕业开始到现在，我每到有疑问的时候，都会记下来，找时间去解决它，然后会总结经验，写到博客里。总结写博客有个好处，就是能把经验教训进行一次完整总结，而为了博文内容是正确的，我会查阅很多资料去归纳总结，这样总会有点成长。

还有一点是，学习东西必须有结论，不能看了很多东西，却没有一个定论，这样的话，下次你想起，你依旧不知道关键点在哪。所以，无论结论是对还是错，学了就做属于自己的总结，即便是错，也错得明白。
					<p><input type="button" value="收藏" /></p>
				</li>
				
				
			</div>
		</div>
		
		
		
		
		
</body>
</html>